---
layout: page
title: "Blog"
description: Adana Psikiyatri • Psikiyatrik hastalıklar, tedavileri, takip süreci, destekleyici ve psikanalitik yönelimli psikoterapi konusunda merak edilenler hakkında ayrıntılı ve özgün yazıların yer aldığı blog sayfamızı takip edebilirsiniz.• 
---

        <div class="resume-item">
		<p style="text-align: justify;font-size: 1.125rem;">
		<b>Mesleki ilgi alanlarım ve tüm psikiyatrik hastalıklar hakkında özgün, ayrıntılı içeriklere bu sayfada ulaşabilirsiniz.</b> Düzenli aralıklarla yazı eklenecek bu sayfayı takip ederek hastalıklar ve psikiyatrik tedavi yöntemleri hakkında ayrıntılı bilgi sahibi olabilirsiniz. Yazı yazılmasını talep ettiğiniz konuları e-posta iletisi ile iletebilirsiniz. İyi okumalar! 
		</p>
		
		<div>
<div style="border-top:2px solid #c7c7c7; font-size: 1.125rem;"></div><br>

<div class="tags">
  <div class="tags-clouds">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}">{{ tag[0] }}</a>
    {% endfor %}
  </div>
<br>
  <section class="content-section">
        <header class="section-header">
          <h2>Son Yazılan Yazılar</h2>
        </header>
    {% for post in site.posts limit:2 %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" style="text-align: justify;" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h3>
          <h4 class="resume-item-details" itemprop="description">Yayınlanma Tarihi: {{ post.date | date: "%d.%m.%Y" }}</h4>
          <p class="resume-item-copy" style="text-align: justify; font-size: 1.125rem;">      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 50 }}
      {% endif %}</p>
        </div>
  {% endfor %}
  </section>
<div style="border-top:2px solid #c7c7c7; font-size: 1.125rem;"></div>
  {% for tag in site.tags %}
  <div class="tags-item" id="{{ tag[0] }}">
    <svg
      class="tags-item-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-tag"
    >
      <path
        d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"
      ></path>
      <line x1="7" y1="7" x2="7.01" y2="7"></line>
    </svg>
    <h2 class="tags-item-label">{{ tag[0] }}</h2>
    {% for post in tag[1] %}
    <a class="tags-post" style="text-decoration:none;" href="{{ post.url | prepend: site.baseurl }}">
      <div style=" font-size: 1.125rem;max-width: 80%;">
        <span class="tags-post-title">{{ post.title }}</span>
        <div class="tags-post-line"></div>
      </div>
	  <span class="tags-post-meta" style=" font-size: 1.125rem; max-width: 20%;">
        <time datetime="{{ post.date }}">
          {{ post.date | date: "%d.%m.%Y" }}
        </time>
      </span>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>

