---
layout: page
title: Blog Sayfası
---

  {% for post in site.posts %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" style="text-align: justify;" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h3>
          <h4 class="resume-item-details" itemprop="description">Yayınlanma Tarihi: {{ post.date | date: "%B %d, %Y" }}</h4>
          <p class="resume-item-copy" style="text-align: justify;">      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}</p>
        </div>
  {% endfor %}


<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>