<ul class="nav-ul">
  <li><a href="/" title="Anasayfa">Anasayfa</a></li>
  <li><a href="/blog" title="Blog">Blog</a></li>
  <li><a href="/muayenehane" title="Muayenehane">Muayenehane</a></li>
  <li><a href="/sikca-sorulan-sorular" title="Sıkça Sorulan Sorular">Sıkça Sorulan Sorular</a></li>
  <li><a href="/tms" title="TMS (Transkraniyal Manyetik Stimulasyon)"><b>TMS</b></a></li>
  <li><a href="/randevu" title="Randevu Al">Randevu</a></li>
  <li><a href="/iletisim" title="İletişim ve Konum">İletişim</a></li>
</ul>