<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": ["Physician", "Person"],
      "@id": "{{ site.url }}/#hekim",
      "name": "Uzm. Dr. İsmail Buçgün",
      "givenName": "İsmail",
      "familyName": "Buçgün",
      "honorificPrefix": "Uzm. Dr.",
      "jobTitle": "Psikiyatri Uzmanı",
      "description": "Adana'da Avrupa Psikiyatri Yeterlilik Belgesi'ne (FEBP) sahip psikiyatri uzmanı; duygudurum bozuklukları, yaşlılık psikiyatrisi ve TMS gibi beyin uyarım tedavileri alanlarında klinik pratik yürütmektedir.",
      "image": "{{ site.url }}/images/avatar.webp",
      "url": "{{ site.url }}",
      "telephone": "+905510334896",
      "email": "bilgi@ismailbucgun.com",
      "medicalSpecialty": "Psychiatric",
      "knowsAbout": [
        "Bipolar Bozukluk",
        "Major Depresif Bozukluk",
        "Tedaviye Dirençli Depresyon",
        "Yaşlılık Psikiyatrisi",
        "Şizofreni",
        "Obsesif Kompulsif Bozukluk",
        "Anksiyete Bozuklukları",
        "Erişkin Dikkat Eksikliği ve Hiperaktivite Bozukluğu",
        "Transkraniyal Manyetik Stimülasyon (TMS)",
        "Derin TMS",
        "tDCS",
        "Bilişsel Davranışçı Terapi",
        "Kişilerarası İlişkiler Psikoterapisi",
        "Destekleyici Psikoterapi"
      ],
      "alumniOf": [
        {
          "@type": "CollegeOrUniversity",
          "name": "Mersin Üniversitesi Tıp Fakültesi",
          "url": "https://www.mersin.edu.tr/"
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "Çanakkale Onsekiz Mart Üniversitesi Tıp Fakültesi",
          "url": "https://www.comu.edu.tr/"
        }
      ],
      "hasCredential": [
        {
          "@type": "EducationalOccupationalCredential",
          "name": "Tıpta Uzmanlık (Psikiyatri)",
          "credentialCategory": "Specialty",
          "recognizedBy": {
            "@type": "GovernmentOrganization",
            "name": "T.C. Sağlık Bakanlığı"
          }
        },
        {
          "@type": "EducationalOccupationalCredential",
          "name": "Fellow of the European Board of Psychiatry (FEBP)",
          "description": "European Board Examination in Psychiatry (EBEP) sınavını başarıyla geçen psikiyatristlere verilen Avrupa düzeyinde yeterlilik unvanıdır.",
          "credentialCategory": "Board Certification",
          "recognizedBy": [
            {
              "@type": "Organization",
              "name": "European Psychiatric Association (EPA)",
              "url": "https://www.europsy.net/"
            },
            {
              "@type": "Organization",
              "name": "European Union of Medical Specialists - Psychiatry Section (UEMS-PS)",
              "url": "https://www.uemspsychiatry.org/"
            }
          ]
        },
        {
          "@type": "EducationalOccupationalCredential",
          "name": "Türkiye Psikiyatri Derneği Destekleyici Psikoterapi Uygulayıcısı Sertifikası",
          "credentialCategory": "Certificate",
          "recognizedBy": {
            "@type": "Organization",
            "name": "Türkiye Psikiyatri Derneği"
          }
        }
      ],
      "memberOf": [
        {
          "@type": "Organization",
          "name": "Türkiye Psikiyatri Derneği",
          "url": "https://psikiyatri.org.tr/"
        },
        {
          "@type": "Organization",
          "name": "Bipolar Bozukluklar Derneği",
          "url": "https://bipolardernegi.org/"
        },
        {
          "@type": "Organization",
          "name": "International Society for Bipolar Disorders",
          "alternateName": "ISBD",
          "url": "https://www.isbd.org/"
        },
        {
          "@type": "Organization",
          "name": "Academy of Brain Stimulation",
          "alternateName": "AoBS",
          "url": "https://brainstimulation-academy.com/"
        }
      ],
      "worksFor": { "@id": "{{ site.url }}/#klinik" },
      "sameAs": [
        "https://twitter.com/drismailbucgun",
        "https://www.facebook.com/dr.ismailbucgun/",
        "https://instagram.com/dr.ismailbucgun",
        "https://www.doktortakvimi.com/ismail-bucgun/psikiyatri/adana"
      ]
    },
    {
      "@type": "MedicalClinic",
      "@id": "{{ site.url }}/#klinik",
      "name": "Adana Psikiyatri ve TMS Kliniği",
      "alternateName": "Uzm. Dr. İsmail Buçgün Kliniği",
      "url": "{{ site.url }}",
      "telephone": "+905510334896",
      "email": "bilgi@ismailbucgun.com",
      "image": [
        "{{ site.url }}/images/centralplaza.jpg",
        "{{ site.url }}/images/avatar.webp"
      ],
      "logo": "{{ site.url }}/images/avatar.webp",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Hurmalı Mah. Kurtuluş Cad. No:39 Central Plaza Kat:6 Daire:62",
        "postalCode": "01060",
        "addressLocality": "Seyhan",
        "addressRegion": "Adana",
        "addressCountry": "TR"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 36.9899075743665,
        "longitude": 35.31947071342479
      },
      "hasMap": "https://maps.app.goo.gl/5WCR9UoCiNTSsM4E9",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday"],
          "opens": "09:00",
          "closes": "18:00"
        }
      ],
      "areaServed": [
        {
          "@type": "City",
          "name": "Adana"
        },
        {
          "@type": "AdministrativeArea",
          "name": "Çukurova Bölgesi"
        }
      ],
      "medicalSpecialty": "Psychiatric",
      "availableService": [
        {
          "@type": "MedicalProcedure",
          "name": "Transkraniyal Manyetik Stimülasyon (TMS)",
          "url": "{{ site.url }}/tms",
          "procedureType": "https://schema.org/NoninvasiveProcedure"
        },
        {
          "@type": "MedicalProcedure",
          "name": "Derin TMS",
          "url": "{{ site.url }}/tms",
          "procedureType": "https://schema.org/NoninvasiveProcedure"
        },
        {
          "@type": "MedicalProcedure",
          "name": "Transkraniyal Doğru Akım Uyarımı (tDCS)",
          "url": "{{ site.url }}/tdcs",
          "procedureType": "https://schema.org/NoninvasiveProcedure"
        },
        {
          "@type": "MedicalProcedure",
          "name": "Psikiyatrik Değerlendirme"
        },
        {
          "@type": "PsychologicalTreatment",
          "name": "Bilişsel Davranışçı Terapi (BDT)"
        },
        {
          "@type": "PsychologicalTreatment",
          "name": "Kişilerarası İlişkiler Psikoterapisi (KİPT)"
        },
        {
          "@type": "PsychologicalTreatment",
          "name": "Destekleyici Psikoterapi"
        },
        {
          "@type": "PsychologicalTreatment",
          "name": "Psikanalitik Psikoterapi"
        },
        {
          "@type": "MedicalTherapy",
          "name": "Parlak Işık Tedavisi"
        },
        {
          "@type": "MedicalTherapy",
          "name": "Farmakolojik Tedavi (İlaç Tedavisi)"
        },
        {
          "@type": "DiagnosticProcedure",
          "name": "Nöropsikolojik Test"
        },
        {
          "@type": "DiagnosticProcedure",
          "name": "Psikometrik Testler"
        },
        {
          "@type": "DiagnosticProcedure",
          "name": "Psikiyatrik İlaç Kan Düzeyi Takibi"
        }
      ]
    }
  ]
}
</script>
